@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter-Thin', sans-serif;
}



.btn_submit {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 5px;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #708ec3;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #6085c4;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #bbc9f0;
    font-size: 13px;
}

.login-box form .btn_submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box .btn_submit:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}



.login-box form .btn_submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box .btn_submit:hover {
    background: #85a6e4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #85a6e4,
        0 0 25px #85a6e4,
        0 0 50px #85a6e4,
        0 0 100px #85a6e4;
}



.errors {
    padding-left: 10px;
    color: red;
    font-family: 'Inter-thin', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.button_box_auth {
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 50px; */
}